@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
:root {
    font-family: 'Roboto', sans-serif;}

body {
    margin: 0;
    padding: 0;
    background-color: #4c7897d3;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logo {
    font-family: 'Caesar Dressing', cursive;
    width: 100px;
    background: rgba(0, 0, 0, 0.50);
    position: absolute;
    top: 200px;
    width: 500px;
    font-size: 65px;
    color: white;
    display: flex;
    justify-content: center;
padding-bottom: 8px;
padding-top: 8px;
}
.logo img {
    width: 90px;
}
.mainbg {
    width: 500px;
    height: 100vh;
}
.logotext {
margin-top: auto;
margin-bottom: auto;
}
.credits {
    position: relative;
    width: 500px;

    bottom: 5px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255, 0.9);
    bottom: 33px;
    gap: 4px;
    font-size: 14px;
}
a {
    color: rgb(255, 255, 255, 0.9);
}

input {
    border: rgb(229, 231, 235) 1.5px solid;
    width: 250px;
    height: 22.7px;
    outline:1px solid #E5E7EB;
    border-radius: 3px;
    margin-bottom: 18px;
}
input:focus {
outline: #2349af 2px solid;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.form {
    background-color: #ffffff;
    display: flex;
    flex-grow: 1;
    padding: 0px 0px 35px 35px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.first, .last, .password, .confirm, .email, .tele {
    display: flex;
    flex-direction: column;
}
.inputform {
    display: flex;
    gap: 60px;
    
}
.formheader {
    font-size: 1.5rem;
    
}
label {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.7);
}